.container {
    display: flex;
}

.products {
    width: 83%;
}

.productContainer {
    display: grid;
    margin: 0px 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

/* ---------------- SearchBar Stylings ------------ */

.searchContainer {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 2rem 0;
}

.Searchbar {
    font-size: 20px;
    padding: 10px;
    width: 30%;
    margin-right: 30px;
}

.searchBtn {
    border: none;
    font-size: 20px;
    padding: .7rem 0;
    width: 15%;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(254, 189, 105);
}

.searchBtn:hover {
    background-color: rgb(255, 176, 72);
}

.filterbtn {
    display: none;
}

/* ---------------- Product Card Stylings ------------ */

.productCard {
    padding: 15px;
    border-radius: 12px;
    height: min-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.detailContainer {
    display: block;
    margin-top: 10px;
    justify-content: space-between;
}

.details {
    display: flex;
    justify-content: space-between;
}

.detailText {
    font-size: 18px;
}

.addToCart {
    border: none;
    margin-top: 10px;
    padding: .7rem 0;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(255, 216, 20);
}

.addToCart:hover {
    background-color: rgb(255, 213, 0);
}

.qtyContainer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 20% 20% 20% 40%);
}

.qtyContainer>button {
    border: none;
    padding: 13px 0;
    margin-right: 1px;
    border-radius: 4px;
    background-color: rgb(255, 216, 20);
}

.qtyContainer>button:hover {
    background-color: rgb(255, 213, 0);
}

/* ----------------- Filter Styling ---------------- */

.filterContainer {
    border-right: 1px solid rgb(221, 221, 222);
    width: 17%;
    position: relative;
}

.filterMobileContainer {
    display: none;       
}

.filters {
    position: fixed;
    width: 16%;
}

.filterHead {
    font-size: 18px;
    font-weight: 600;
}

.filterLabel {
    margin-left: 10%;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.fieldset {
    padding: .8rem 0;
    padding-left: .5rem;
    margin: .7rem .3rem;
}

.legend {
    padding: 0 .3rem;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

/* ----------------- MOBILE AND TABLET VIEW STYLING ------------------------- */

@media screen and (max-width: 768px) {

    .container {
        margin-top: 2rem;
        display: flex;
    }

    .productContainer {
        width: 100%;
        padding: 15px;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    /* ---------------- SearchBar Stylings ------------ */

    .searchContainer {
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding: 2rem 0;
    }

    .Searchbar {
        font-size: 20px;
        padding: 10px;
        width: 45%;
        margin-right: 30px;
    }

    .searchBtn {
        border: none;
        font-size: 20px;
        padding: .7rem 0;
        width: 90px;
        height: auto;
        border-radius: 4px;
        background-color: rgb(254, 189, 105);
    }

    .searchBtn:hover {
        background-color: rgb(255, 176, 72);
    }

    .filterbtn {
        display: block;
        border: none;
        font-size: 20px;
        padding: 0 0;
        width: 60px;
        margin-left: 18px;
        height: auto;
        border-radius: 4px;
        background-color: rgb(254, 189, 105);
    }

    .searchBtn:hover {
        background-color: rgb(255, 176, 72);
    }

    /* ---------------- Product Card Stylings ------------ */

    .productCard {
        padding: 15px;
        border-radius: 12px;
        height: min-content;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .detailContainer {
        display: block;
        margin-top: 10px;
        justify-content: space-between;
    }

    .details {
        display: flex;
        justify-content: space-between;
    }

    .detailText {
        font-size: 15px;
    }

    .addToCart {
        margin-top: 10px;
        border: none;
        padding: .7rem 0;
        width: 100%;
        border-radius: 4px;
    }

    /* ----------------- Filter Styling ---------------- */

    .filterContainer {
        display: none;
    }

    .filterMobileContainer {
        display: block;
        position: absolute;
        padding-top: 100px;
        margin-top: -100px;
        z-index: 9999;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.678);
    }

    .donebtn {
        border: none;
        margin-top: 10px;
        padding: .7rem 0;
        width: 40%;
        margin-left: 30%;
        margin-top: 68.3vh;
        z-index: 10;
        border-radius: 4px;
        background-color: rgb(255, 216, 20);
    }
    
    .donebtn:hover {
        background-color: rgb(255, 213, 0);
    }

    .filters {
        position: fixed;
        width: 40%;
        top: 20%;
        left: 30%;
        background: white;
    }

    .filterHead {
        font-size: 18px;
        font-weight: 600;
    }

    .filterLabel {
        margin-left: 10%;
    }

    .checkboxContainer {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
    }

    .fieldset {
        padding: .8rem 0;
        padding-left: .5rem;
        margin: .7rem .3rem;
    }

    .legend {
        padding: 0 .3rem;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

}