* {
    padding: 0;
    margin: 0;
}

.navcontainer {
    justify-content: space-between;
    padding: 1.5rem 3rem;
    display: flex;
    color: whitesmoke;
    align-items: center;
    background-color: rgb(19, 25, 33);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-family: cursive;
    font-size: 32px;
    font-weight: 600;
}

.logo:hover {
    cursor: pointer;
}

.contents {
    width: min-content;
    display: flex;
    align-items: center;
}

.navhead {
    display: block;
    font-size: 26px;
}

.navhead:hover {
    cursor: pointer;
    font-size: 30px;
    margin-right: -10px;
}

.carticon {
    width: 32px;
    margin-left: 30px;
}

.carticon:hover {
    width: 36px;
    margin-left: 26px;
    cursor: pointer;
}

/* ----------------- MOBILE AND TABLET VIEW STYLING ------------------------- */

@media screen and (max-width: 768px) {
    .navcontainer {
        padding: 1rem 2rem;
    }

    .logo {
        font-size: 20px;
    }

    .navhead {
        display: none;
    }

    .carticon {
        width: 20px;
    }

    .carticon:hover {
        width: 24px;
    }
}